.well.with-margin
  form.form-horizontal(if="{ !loading }" onsubmit="{ saveProject }")
    fieldset
      legend { opts.title }
      .errors.text-danger(if="{ hasError('global') }") { getError('global') }
      
      form-row(field="title" label="Title" type="text" value="{ project.title }")
      form-row(field="url" label="URL" type="url" value="{ project.url }")
      form-row(field="category_id" label="Category" type="select" value="{ project.category.id || 1 }")
        #{'yield'}(to="select")
          option(
            each="{ category in parent.categories }"
            value="{ category.id }"
            __selected="{ project.category.id == category.id }"
          )
            | { category.name }
      form-row#description(
        field="description"
        label="Description"
        type="textarea"
        value="{ project.description }"
        help="You can use Markdown"
      )
      
      .form-group
        .col-md-2.pull-right
          button.btn.btn-primary(if="{ !saving }" onclick="{ saveProject }")
            | { opts.buttonText }
            .ripple-container
          button.spin.btn.btn-primary.disabled(type="button" if="{ saving }")
            spinner.inline(size="{ 36 }")

  spinner(if="{ loading }")
